/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

:root {
  --light: azure;
}

/***********
  General 
***********/
body {
  background-color: #d9dcd6;
  /* font-size: 24px;
  line-height: 32px;
  color: #333; */
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

/********* 
  Header 
**********/
header {
  padding: 20px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #8ac4ff;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

/******************/

/* Nav */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/******************/

/* Article About Me */


article h2 {
  text-align: center;
}


.container {
  width: 1024px;
}

img,
#float-right {
  float: left;
  /* max-height: 200px;
  margin-left: 100px; */
}
img {
  width: 30%;
}

#float-right {
  width: 70%;
}

/*
 Main Work
 */
/* main section {
  display: flex;
  flex-wrap: wrap;
} */

/* Footer Contact Me */


@media screen and (max-width: 992px) {
  .project {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .project {
    width: 100%;
  }
}