/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

:root {
  --light: azure;
}

/***********
  General 
***********/
body {
  background-color: #efeee7;
  font-family: Georgia,"Times New Roman",Times,serif;
  color: #333333;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

/********* 
  Header 
**********/
header {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #8ac4ff;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 28px;
  padding: 0;
}

/******************/

/* Nav */
header nav {
  /* float: right;
  clear: right; */
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding-top: 0;
  margin-right: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/******************/

/* Article About Me */
#about-me {
  display: flex;
  justify-content: center;/* used in assignment 4 and it works here! */

}
.about-me,
.work,
.contact {
  text-align: center;
}

article h2 {
  text-align: center;
}


.container {
  
  /* margin-left: 50px; */
  float: left;
}

img {
  margin: 10px;

}

#clear-float {
  clear: both;
}
/* img,
#float-right {
  float: left;
  clear: left;
} */

img {
  width: 100%;
  height: 500px;
  padding: 5px;
}

#float-right {
  text-align: center;
  margin: 0 auto;
  width: 600px;
}

/* .p1,
.p2,
.p3 {
  text-align: center;
  margin: 0 auto;
} */

/*
 Main Work
 */
/* main section {
  display: flex;
  flex-wrap: wrap;
} */

/* Footer Contact Me */
#contact-links {
  list-style-type: none;
}

@media screen and (max-width: 992px) {
  .project {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .project {
    width: 100%;
  }
}